html {
  /* background-image: url(./assets/MuntraBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%; */
}

.SelectButton {
  width: 200px;
  background-color: #2595ad;
  border-color: #2595ad;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border: none;
  box-shadow: 0px 2px 0 #2595ad;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  min-height: 45px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.flex {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: column;
}

.justAndAlignCenter {
  justify-content: center;
  align-items: center;
}

.SvgSize {
  height: 500px;
  width: auto;
}
