html {
  /* background-image: url(./assets/MuntraBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%; */
}

body {
  margin: 0px !important;
  height: 100vh;
}

code {
  direction: ltr !important;
  line-height: 1.45;
  padding: 0;
  padding-left: 3 em;
  padding-top: 1 em;
  padding-bottom: 0.5 em;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  font-family: "DejaVuSansMono", "Menlo", "Liberation Mono", "Consolas",
    "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono",
    "lucida console", monospace !important;
  white-space: pre;
  word-wrap: normal;
  padding: 3px 7px;
  color: #24292e;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 1rem;
}

#root {
  height: 100vh;
}

.backButton {
  fill: #454f63 !important;
  max-height: 20px;
  max-width: 20px;
  stroke: #454f63;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
}

.SelectButton {
  width: 200px;
  background-color: #2595ad;
  border-color: #2595ad;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border: none;
  box-shadow: 0px 2px 0 #2595ad;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  line-height: 16px;
  min-height: 45px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.SelectButton:hover {
  background-color: #115672;
  border-color: #115672;
}

.flex {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: column;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #221a0f;
  color: #d3af86;
  padding: 0.5em;
}

.justAndAlignCenter {
  justify-content: center;
  align-items: center;
}

.SvgSize {
  cursor: pointer;
  height: 500px;
  width: auto;
}

.mainHeader {
  font-size: 50px;
}

.muntraBackground {
  /* background-image: url(./assets/MuntraBackground.png); */
  background-color: #f6f9fc;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: inherit;
  width: inherit;
}

@media (max-width: 992px) {
  .muntraBackground {
    height: auto;
    width: auto;
    overflow-x: hidden;
  }

  .mobileFlexCol {
    flex-direction: column;
    padding-bottom: 75px;
  }
}
